body {
    overflow-y: scroll;
    font-family: 'Nunito Sans', sans-serif;
}

.shadow-text {
    color: transparent !important;
    animation: loader 1s infinite ease-in-out;
    -webkit-animation: loader 1s infinite ease-in-out;
}

.image-loader {
    height:400px;
    width:400px;
    background: linear-gradient(to left, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.2));
    background-size: 200%;
    animation: image-loader 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    -webkit-animation: image-loader 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes loader {
    0% {
        text-shadow: 0 0 15px rgba(0,0,0,0.7);
        
    }

    50% {
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }
    100% {
        text-shadow: 0 0 15px rgba(0,0,0,0.7);
    }
}


@keyframes image-loader {
    0% {
        background-position: 0% 50%;;
    }
    100% {
      background-position: 200% 50%;
    }
  }


.app-width {
    max-width:1200px;
    margin: 0 auto;
    min-height:100vh;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(0,0,0,0.02)
}


nav {
    max-width:1200px;
    width:100vw;
    z-index: 100;
    position: fixed;
    top: 0;
}

ul {
    list-style-type: none;
    padding:0;
}

.nav-dividor-container {
    display:flex;
    align-items: flex-end;
    width:100%;
    background-image: url('./assets/navimg.jpg');
    background-size: cover;
    height:200px;
    background-repeat: no-repeat;
    
}


.nav-dividor-shape {
    position: relative;
    bottom: -1px;
    height:0;
    border-top:30px solid rgb(0,0,0,0.02);
    width:100%;
    background-color: white;
    border-radius: 100% 100% 0 0;   
}

.top-bar {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(126, 126, 126);
    height:30px;
    padding:0;
}

.top-bar p {
    margin:0;
}



.main-nav {
    height: 60px;
    padding: 0 20px;
    background-color: #f2f2f2;

}

.nav-user {
    margin-right:20px;
    font-weight: bold;
    color:white;
}


.nav-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-title {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
}

@media screen and (min-width: 500px) {
    .nav-title {
        font-size: 18px;
        padding: 8px;


    }

}

.nav-title.current {
    color: #417a88;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    text-decoration-style:double;
    text-decoration-color: #417a88;
    cursor: default;
}

.nav-title:hover {
    color:black;
    cursor: pointer;
}

.current:hover {
    color: #417a88;

}







.tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal-top {
    padding: 0 10px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.modal-main-left {
    width: 100%;
    padding: 10px 10px;
}

.left img {
    display:block;
    margin: 0 auto;
}

.modal-main-right {
    width:100%;
    padding: 10px 10px;

}

.modal-bottom {
    width: 100%;
    padding: 10px 10px;

}

.modal-bottom.padded {
    padding:30px 10px 0 30px;

}

.tags li {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px;
    font-weight:500;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    user-select: none;
}

.tag-dietary {
    color: rgb(23, 117, 0);
    border:2px solid rgb(23, 117, 0);
    background-color: rgb(23, 117, 0, 0.2);
}

.tag-cuisine {
    color: rgb(207, 169, 0);
    border:2px solid rgb(207, 169, 0);
    background-color: rgb(207, 169, 0, 0.2);
}

.tag-difficulty {
    color: rgb(163, 110, 194);
    border:2px solid rgb(163, 110, 194);
    background-color: rgb(163, 110, 194, 0.2);
}

.tag-healthy {
    color: rgb(23, 117, 0);
    border:2px solid rgb(23, 117, 0);
    background-color: rgb(23, 117, 0, 0.2);
}

.tag-custom {
    color: rgb(0, 60, 117);
    border:2px solid rgb(0, 60, 117);
    background-color: rgb(0, 60, 117, 0.2);

}

.tag-deselected {
    color: rgb(105, 105, 105);
    border:2px solid rgb(105, 105, 105);
    background-color: rgb(105, 105, 105, 0.2);
}

.tag-deselected.shadow-text {
    background-color: rgb(105, 105, 105, 0.02);

    border:0;
}

.recipe-info {
    font-weight: bold;
    width:100%;
    height:20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    border-bottom:1px solid rgb(223, 223, 223);
}

.recipe-info > span {
    font-weight: bold;
    margin-right:20px;
}

.modal-main {
    border-bottom:1px solid rgb(223, 223, 223);
}

.modal-main img {
    max-width: 100%;
    max-height: 600px;
}

.modal-foot {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-foot-injects {
    display:flex;
    flex-direction: column;
}





.recipe-thumbs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    margin-top:20px;

    padding:0 5px;
}

.recipe-thumb {
    box-sizing: content-box;
    max-width:400px;
    width:inherit;
    position:relative;
    display: flex;
    flex-direction: column;
    margin:10px;
    cursor:pointer;
    padding-bottom:10px;
    box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.thumb-text-top {
    box-sizing: border-box;
    width:100%;
    padding: 10px 50px;
}

.thumb-tags {
    width:95%;
    margin: 0 auto;
}


.recipe-thumb-img {
    position:relative;
    max-height:250px;
    overflow: hidden;
    object-fit: cover;
}

.recipe-thumb-img.unloaded {
    max-height:0;

}


.ingredients li {
    margin:2px 0;
}

.ingredients ul {
    list-style-type: none;
    padding:0;
}

.instructions ol {
    padding:5px;
}

.instructions li {
    margin:2px 0;
}

@media screen and (min-width: 992px) {
    .modal-main-left {
        min-width:50%;
        padding: 10px 30px;

    }
    .modal-main-right {
        /* width:50%; */
        padding: 10px 30px;

    }
    .modal-main {
        display:flex;
    }
    .modal-foot-injects {
        display:flex;
        flex-direction: row;
    }

    .modal-top {
        padding: 0 20px;
    }
}


  
.page-content {
    align-items: center;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}



h1 {
    font-size: 50px;
    margin-bottom:30px;
}

.drop-down {
    background-color: white;
    max-width: 250px;
    max-height:40px;
    overflow: hidden;
    box-sizing: border-box;
    width:95%;
    margin:0 auto;
    box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    /* border-radius:10px; */
    margin-bottom:5px;
}

.drop-down:hover {
    background-color: rgba(0, 0, 0, 0.001)
}

.drop-down.shown:hover {
    background-color: white
}


.drop-down.shown.sm {
    max-width:250px;
}

.drop-down.shown.md {
    max-width:750px;
}

.drop-down.shown.lg {
    max-width:1000px;
}

.drop-down.shown {
    padding:4px;

    max-width: 1000px;
    max-height: 1000px;
    transition: max-width 0.2s ease-in-out, max-height 0.6s ease-in-out;
}





.drop-down-btn {
    font-weight: 600;
    margin-top:0;
    background: none;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border:none;
    width:100%;
    padding:4px;
}

.drop-down-btn:hover {
    background-color: rgb(65, 122, 136, 0.2);

}

.drop-down-btn.shown:hover {
    background-color: white;
}


.drop-down-btn.shown {
    padding:0px;

    margin-bottom:10px;
    color: #417a88;
    border-bottom: 1px solid #417a88;
}

.drop-down-btn.shown > span::before,
.drop-down-btn.shown > span::after {
    border-color: #417a88;
}

.dropdown-icon {
    margin-left: 12px;
    transform: rotate(45deg);
    cursor: pointer;
}
  
.dropdown-icon::before,
.dropdown-icon:after {
    display: inline-block;
    content: '';
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: black;
    /* border-radius: 1px; */
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.dropdown-icon.white::before, 
.dropdown-icon.white::after {
    border-color: white;

}
  
.dropdown-icon::after {
    transform: translate(-100%, -50%) rotate(45deg); 
}

.drop-down-content {
    padding-bottom: 20px;
} 

.d-s-item {
    margin-top: 10px;
    width: 100px;
    border: 2px solid rgb(65, 122, 136, 0.5);
    /* border-radius: 5px; */
    cursor: pointer;
}


.d-s-item.selected {
    background-color: rgb(65, 122, 136, 0.2);
}

  
.favourite-button::before {
    font-family: 'Inter', sans-serif;
    content: 'Favourite';
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px;
    font-weight: 500;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    user-select: none;
    padding-right:30px;
    color: rgb(105, 105, 105);
    border:2px solid rgb(105, 105, 105);
    background-color: rgb(105, 105, 105, 0.2);

}
  

.favourite-button::after {

    color: rgb(105, 105, 105);
    cursor: pointer;
    user-select: none;
    content: '♥';
    position: absolute;
    transform: translate(-35px, 1px);
    font-size: 30px;
    padding:0;
    margin: 0;
    height:0;

}

.favourite-button.favourited::before {
    color: rgb(255, 77, 103);
    border-color: rgb(255, 79, 106);
    background-color: rgb(255, 79, 106, 0.2);
}

.favourite-button.favourited::after {
    
    color: rgb(255, 79, 106);
}

.fav-sym {
    color: rgb(255, 79, 106);
}

.d-sel {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}



  
  
  
  
  
.s-list-table {
    margin: 0 auto;
}

.s-list-item {   
    cursor: pointer;
    user-select: none;
    color:#000;
    transition: 0.3s;
    text-align: left;

}


.s-list-wr {
    display:flex;
    background-color: white;
    justify-content: space-between;
    margin:5px;
    /* border-radius: 5px; */
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
}



.s-list-n {
    font-size: 20px;
    transition: 0.1s;
    padding: 8px;
}

.s-list-n.gotten {
    color:#b6b6b6;
    transition: 0.3s;
    padding:4px 8px;
}

.s-list-gen {
    position: relative;
    width:fit-content;
    max-width: 450px;
}

.s-list-gen:before {
    position: absolute;
    top:50%;
    display: inline-block;
    content:'';
    width:0%;
    border:0px solid #b6b6b6;
    transition: 0.1s ease-in;
}

.s-list-gen.gotten:before {
    width:calc(100% - 8px);
    border:1px solid #b6b6b6;
    transition: 0.3s ease-out;
}

.s-list-qs {
    min-width: fit-content;
    display:flex;
    margin-right:10px;
}

.s-list-qs.gotten {
    color:#b6b6b6;
    transition:0.3s;
}

.s-list-q {
    min-width: fit-content;
    display:inline-block;
    height:1rem;
    line-height:1rem ;
    margin: auto;
    font-size: 14px;
    padding-left: 0.3rem;
}


.back-to-top {
    z-index: 100;
    position:fixed;
    bottom:-1px;
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
    color: #417a88;
    text-decoration-color: #417a88;
    display:flex;
    justify-content: center;
    height:0px;
    transition:0.3s;
    overflow: hidden;
    font-weight: bold;
}

.back-to-top span {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.back-to-top span:hover {
    text-decoration: underline;
}


.back-to-top-pad {
    padding-top:45px;
}

.back-to-top.visible {
    height:35px;
    transition:0.3s;
}



.btn-icon {
    background-color: transparent;
    border:none;
    padding:0;
    margin:0;
    border-radius: 50%;
}

.btn-icon:active {
    background-color: rgb(235, 235, 235);
    transform: 0.9s ease-out;
}

.btn-icon.sm {
    width:25px;
    height:25px;
}

.btn-icon.med {
    width:50px;
    height:50px;
}

.btn-icon.lg {
    width:100px;
    height:100px;
}

.btn-icon-content {
    width:inherit;
    height:inherit;
}



.meal-plan-ui {
    margin-top:20px;
}

.meal-plan-day {
    text-align: left;
    width:100%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
    padding: 5px;
}

.meal-plan-day .recipe-thumb-img {
    max-height:250px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.meal-plan-btns-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:15%;
    min-width: 90px;
}


.mp-1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  rgb(0,0,0,0.2);
    margin: 0 20px 9px 20px;
    z-index:1;
}

.day-title {
    color: rgb(102, 102, 102);
    font-weight: bold;
    font-size: 25px;
}

.day-servings {
    color: rgb(0,0,0,0.6);
    font-size: 14px;
}

.mp-2 {
    position: relative;
    min-height: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index:1;
    height:fit-content

}

.mp-2.deselect {
    min-height: 30px;
    display: flex;
    align-items: center;
    color: rgb(0,0,0,0.5)

}

.meal-title {
    width:100%;
    line-height: 2rem;
    display: flex;
    align-items: center;
    cursor:pointer;
}

.meal-title h4 {
    font-size:20px; 
}


.s-rec-con {
    z-index: 1;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
}


.s-rec {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 300px;
    width:100%;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.s-rec-top {
    display:flex;
    justify-content: space-between;
    margin:10px;
}



.s-rec-ul {
    text-align: left;
    max-height: 60vh;
    overflow: auto;
}

.s-rec-li {
    margin: 10px 15px;
    font-size: 18px;
    border-bottom: 1px solid  rgb(0,0,0,0.2);
    cursor: pointer;
}

.s-rec-li:hover {
    color: #417a88;
    text-decoration: underline;

}

.s-rec-title {
    color: #417a88;
    font-weight: bold;
    font-size: 16px;
}


.tab-numbers {
    display:flex;
    justify-content: center;
}

.tab-button {
    padding:0;
    color: white;
    border: 0px;
    width: 30px;
    height: 30px;
    /* border-radius: 5px; */
    background-color: grey;
    border: 1px solid #417a88;
    background-color: #417a88;
}

.tab-button.current {
    
    color: #417a88;
    background-color: rgb(65, 122, 136, 0.2);
}

.tab-button:hover {
    text-decoration: underline;

}

.tab-button.current:hover {
    text-decoration: none;
}

.btn-default {
    font-weight: 400;
    background-color: black;
    color:white;
    border:none;
    box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.1);
    margin:5px 10px;
    padding: 5px 15px;
    min-width: 143px;
    width:fit-content;
    height: fit-content;
}

.btn-default.narrow {
    min-width:0;
}

.btn-default.danger {
    background-color: rgb(150,0,0);
}

.btn-default.danger:enabled:hover {
    background-color: rgb(150,0,0,0.8);
}


.btn-default:disabled {
    background-color: rgba(0, 0, 0, 0.5);
}


.btn-default:enabled:hover {
    background-color: rgba(24, 47, 53, 1);
    /* color:black */


}

.btn-default:enabled:active {
    box-shadow: 0px -1px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn-list {
    font-size: 24px;
    border:none;
    background-color: white;
    cursor: pointer;
    text-align: left;
    width:100%;
    min-width: 80px;
    min-width: 130px;
}

.btn-list:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.browse-form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.input-text {
    padding: 5px 10px;
    margin:3px 0;
    border:1px solid #dcdcdc;
    width: 100%;
    max-width: 250px;
    overflow-y: hidden;
}

.input-text.marg-10 {
    margin:10px 10px;
}

.input-text.narrow {
    max-width:40px;
    box-sizing: content-box;
}
.w-100 {
    max-width:100%
}

.input-text:focus {
    box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.1);

    outline:none;

}


.popup-container {
    position: relative;
}


.popup {
    background-color: white;
    display:none;
    position: absolute;
    bottom:100%;
    right:0;
    width: fit-content;
    box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 0;
    min-width: 200px;
    padding:5px 5px;

}

.popup-header {
    padding:10px 0 0 0;
}

.popup.under {
    bottom:unset;
    top:100%;
}

.popup.over {
    top:unset;

    bottom:100%;
}

.popup.left {
    left:unset;
    right:0
}

.popup.right {
    right:unset;
    left:0
}




.popup.show {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-btn-contain {
    width: fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;

}

.lander-page {
    overflow: hidden;
    display: flex;
    height: 100vh;
    width:100%;
    background-color: #417a88;
}

.lander-panel {
    background-color: rgb(250,250,250);
    padding:35px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    height:100vh;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.3);
}


.lander-form {
    max-width:240px;
    display: flex;
    flex-direction: column;
    margin-bottom:80px;
    margin-top: 20px;
}

.edit-table {
    width:100%;
}

.td-widener {
    min-width:50px;
    justify-content: center;
    text-align: center;
}

td {
    text-align: center;
}

th {
    text-align: center;
}


.w-max-30 {
    max-width:30%
}

.w-max-80 {
    max-width:80%
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bold {
    font-weight: bold;
}

.clickable {
    font-weight: bold;
    text-decoration: underline;
}

.clickable:active {
    color:rgb(105, 105, 105)
}
